antlr4-python3-runtime==4.13.0
datrie==0.8.2
dill==0.3.7
fibheap==0.2.1
frozendict==2.3.8
grammar-graph==0.1.15
grammar-to-regex==0.0.4
graphviz==0.20.1
ijson==3.2.3
isla-solver==1.14.1
multiprocess==0.70.15
packaging==23.1
pathos==0.3.1
pox==0.3.3
ppft==1.7.6.7
proxyorderedset==0.3.3
pydot==1.4.2
pyparsing==3.1.1
toml==0.10.2
z3-solver==4.11.2.0
